{{!-- TODO: Decide not to use footer for now, try to make the app running first --}}
<div>
    <footer>
        <p>Robert</p>
        <p>Robert</p>
        <p>Robert</p>
        <p>Robert</p>
        <p>Robert</p>
    </footer>
</div>