<div class="card">
    <h3 class="card-header">Edit</h3>
    <form class="card-body edit-role-form">
        <label for="edit-family-role" class="form-label">Title</label>
        <input name="edit-family-role" type="text" class="form-input" value="{{family.role}}" id="edit-family-role">
        <label for="edit-family-name" class="form-label">Content</label>
        <input name="edit-family-name" type="text" class="form-input" value="{{family.family_name}}" id="edit-family-name">
        <button type="submit" class="btn">Update</button>
        <button type="button" class="delete-role-btn btn">Delete</button>
    </form>
</div>

<script src="/js/edit-role.js"></script>
<script src="/js/delete-role.js"></script>