{{!--  i want to create a button that displays the a table to input information of a chore you are creating
a row called chore
a row called assigned to:
a row of the reward you will recieve by completing it
a row of the due date --}}

{{!-- all info below is pushed to the body of the main handlebar --}}

{{!-- if chores exist --}}
{{#if chores.length}}
  <div class="col-md-6 chore-list">
    <h3>Current Family Chores:</h3>
{{!-- possible change #each to the name of an array that holds the users data? --}}
    {{#each chores as |chore|}}
    <div class="row mb-2">
      <div class="col-md-8">
        {{!-- change info after href to correct information --}}
        <h4><a href="/Chore/{{chore.id}}">{{chore.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{chore.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
