<div class="text-center">
    <h1 class="position-absolute top-10 start-50 translate-middle fw-bold text-success">Welcome to appMonster</h1>
    <p class="position-absolute bottom-50 end-50 text-success"> We are a non-profit organization that help people track their task at night, while we attack and defend the multiverse during the day... or is that backwards? anyways I hope you enjoy!</p>
    <a href="/login"><button class="position-absolute top-50 start-50" id="button" aria-describedby="tooltip">Get Started</button></a>
    <div id="tooltip" role="tooltip">You'll need to login or sign up first!</div>
</div>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
    const button = document.querySelector('#button');
    const tooltip = document.querySelector('#tooltip');

    // Pass the button, the tooltip, and some options, and Popper will do the
    // magic positioning for you:
    Popper.createPopper(button, tooltip, {
        placement: 'auto',
        modifiers: [preventOverflow, flip]
    });
</script>
