{{!-- TODO: Need to change the market language, leverage the idea from asana (online app) for now--}}
<div>
    <h1>The only task tool you need for task management and lists</h1>
    <p>Looking for task manager software to help you organize individual and family tasks in one shared space? With AppMonster, it's easy to collaborate with your family, no matter where you are.</p>
    <a href="/login"><button id="button" aria-describedby="tooltip">Get Started</button></a>
    <div id="tooltip" role="tooltip">You'll need to login or sign up first!</div>
</div>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
    const button = document.querySelector('#button');
    const tooltip = document.querySelector('#tooltip');

    // Pass the button, the tooltip, and some options, and Popper will do the
    // magic positioning for you:
    Popper.createPopper(button, tooltip, {
        placement: 'auto',
        modifiers: [preventOverflow, flip]
    });
</script>