<div>
    <h3>Create New Role</h3>
    <form  class ="form new-role-form">
        <div class="form-group">
            <label for="family-role">Role</label>
            <input class="form-input" type="text" id="family-role">   
        </div>
        <div class="form-group">
            <label for="family-name">Family Name</label>
            <input class="form-input" type="text" id="family-name">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add role</button>
            <button class="btn"><a href="/user">Back</a></button>
        </div>
    </form>
</div>

<script src="/js/add-role.js"></script>