<div class="text-left">
    <p>Welcome, {{name}}</p>
</div>

{{#if families.length}}
<section>
    <h2>Your Todos</h2>
    {{#each families as |family|}}
    {{> user-details family}}
    {{/each}}
</section>
{{/if}}

<button type="submit" class="btn"><a href="/user/new">+ New Task</a></button>

<script src="/js/add-role.js"></script>