{{!-- this will be the user column that displayes the user id and the user role within the family he is tied to and the chores he has --}}
{{!-- put user name on the top right of the navbar --}}
{{!-- create handlebar for the role
app.use'.home/family', asyn(req, res) =>
try(
    res.render('family', role--}}
<div class="text-left">
    <h2>{{role}}</h2>
    <p>{{chore_description}}</p>
    <p>{{chore_creator date_due}}</p>
</div>>



